{% include "header.html" %}
{% include "nav_bar.html" %}


<header
  class="masthead"
  style="background-image: url('../static/assets/seasons/s3/img.png'); height:700px"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
      </div>
    </div>
  </div>
</header>


<section class="section-padding" id="section_4">
    <div class="row mb-2">
        <div class="col-md-5" style="padding-left:50px">
    <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
          <div class="content">
<div class="px-4 text-center">
    <h1 class="display-5 fw-bold " style="color:#F27070; font-weight: bold;">Mùa 3</h1>
    <h2 style="color:#F27070; font-weight: bold;">ĐĂK CẤM</h2>
    <h2 style="color:#F27070; font-weight: bold;">KOMTUM</h2>
    <h5 style="color:#F27070; font-weight: bold;">THÁNG 5/2023</h5>
    <hr>
    <h5 style="color:#F27070; font-weight: bold;">TRƯỜNG TIỂU HỌC JANG ROONG, XÃ ĐĂK CẤM </h5>
    <div class="col-lg-6 mx-auto">
    </div>
</div>
          </div>
          </div>
        </div>
        <div class="col-md-7" style="padding-right:50px">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <img src="../static/assets/seasons/s3/img_5.png" style="; padding: 5px; height: 100%;width: 100%;">
            </div>
            <div class="col-auto d-none d-lg-block">
            <div class="row">
                <div class="col ms-auto lg-auto py-5">
                    <h2 style="color:#F27070; font-weight: bold;">52</h2>
                    <p style="color:#F27070; font-weight: bold;">TÌNH NGUYỆN VIÊN</p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="section-padding" id="section_1">
    <div class="row mb-2">
        <div class="col-md-6" style="padding-left:50px">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <img src="../static/assets/seasons/s3/img_1.png" style=";
  padding: 5px;
  height: 100%;
  width: 100%;">
            </div>
            <div class="col-auto d-none d-lg-block">
            <div class="row">
                <div class="col ms-auto lg-auto py-5">
                    <h2 style="color:#F27070; font-weight: bold;">100+</h2>
                    <p style="color:#F27070; font-weight: bold;">TRẺ EM THỤ HƯỞNG</p>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-right:50px">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <img src="../static/assets/seasons/s3/img_2.png" style="; padding: 5px; height: 100%;width: 100%;">
            </div>
            <div class="col-auto d-none d-lg-block">
            <div class="row">
                <div class="col ms-auto lg-auto py-5">
                    <h2 style="color:#F27070; font-weight: bold;">3</h2>
                    <p style="color:#F27070; font-weight: bold;">NGÀY THI CÔNG</p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="section-padding" id="section_2">
    <div class="row mb-2">
        <div class="col-md-6" style="padding-left:50px">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <img src="../static/assets/seasons/s3/img_3.png" style=";
  padding: 5px;
  height: 100%;
  width: 100%;">
            </div>
            <div class="col-auto d-none d-lg-block">
            <div class="row">
                <div class="col ms-auto lg-auto py-5">
                    <h2 style="color:#F27070; font-weight: bold;">60+</h2>
                    <p style="color:#F27070; font-weight: bold;">NGƯỜI DÂN ĐỊA PHƯƠNG</p>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-right:50px">
          <div class="row g-0 rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <img src="../static/assets/seasons/s3/img_4.png" style="; padding: 5px; height: 100%;width: 100%;">
            </div>
            <div class="col-auto d-none d-lg-block">
            <div class="row">
                <div class="col ms-auto lg-auto py-5">
                    <h2 style="color:#F27070; font-weight: bold;">9</h2>
                    <p style="color:#F27070; font-weight: bold;">THIẾT BỊ CHƠI</p>
                    <h2 style="color:#F27070; font-weight: bold;">5</h2>
                    <p style="color:#F27070; font-weight: bold;">CHƯƠNG TRÌNH WORKSHOP</p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="section-padding" id="section_3">
    <div class="ms-5 ps-5">
        <h2 style="color:#F27070; font-weight: bold;">TỔNG CHI PHÍ XÂY DỰNG</h2>
        <h1 style="color:#F27070; font-weight: bold;">81,880,000 VND</h1>
    </div>

</section>
<footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 mb-5">
                    <ul>
        <li style="color:"><a href="https://www.facebook.com/sanchoicauvong">Fb: Sân chơi cầu vồng
                            </a></li>
        <li><a href="{{ url_for('contact') }}"> <p>Gmail: sanchoicauvong@gmail.com</p> </a></li>
    </ul>
                </div>

                <div class="col-lg-7 col-md-8 col-12 mb-7">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>

                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="{{url_for('about2')}}" class="footer-menu-link">Our Story</a></li>

                        <li class="footer-menu-item"><a href="{{url_for('donate')}}" class="footer-menu-link">Donate</a></li>


                        <li class="footer-menu-item"><a href="{{url_for('contact')}}" class="footer-menu-link">Become a volunteer</a></li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">© 2024 <a href="{{url_for('about2')}}">Sân chơi cầu vồng.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
