
<div class="container" id="container">
    <div class="form-container sign-up">
        <img src="../static/assets/img_1.png" style=" width: 500px;
          height: 480px;
          object-fit: cover;">
    </div>
    <div class="form-container sign-in">
        <img src="../static/assets/img.png" style=" width: 500px;
  height: 480px;
  object-fit: cover;">
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <button class="hidden" id="login">⬅️</button>
            </div>
            <div class="toggle-panel toggle-right">
                <button class="hidden" id="register">➡️</button>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/about.js"></script>
